<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn">

    <Properties>
        <property name="LOG_HOME">./logs</property>
        <property name="LOG_BACKUP_HOME">./logs/backup/%d{yyyy-MM-dd}</property>
    </Properties>

    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{1} [%class:%method:%line] - %msg%n"/>
        </Console>
    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="console"/>
        </root>
    </loggers>
</configuration>